@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://i.pinimg.com/564x/f9/9a/93/f99a936abaeedadb9f6b3d69091357a5.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    background: #BA7E7E;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #E9C2C2;
    border-radius: 40px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #FFFFFF;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #FFFFFF;
    margin-right: 3px;
}

.remember-forgot a {
    color: #FFFFFF;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #0001;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .btn:hover {
    background: #E9C2C2;
    text-decoration: none;
}

.wrapper .signup-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.signup-link p a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
}

.signup-link p a:hover {
    text-decoration: underline;
}